---
import Container from './Container.astro'
---

<div class="pt-32 text-gray-600 dark:text-gray-300 md:pt-20" id="reviews">
	<Container>
		<div class="mx-auto md:w-3/5">
			<h2
				class="text-center text-3xl font-bold text-gray-900 dark:text-white md:text-4xl lg:text-5xl"
			>
				Trusted by thousands
			</h2>
			<p class="mt-4 text-center text-gray-600 dark:text-gray-300">
				Repellendus atque illum odio! Fugiat at expedita deserunt dolorum molestias.
			</p>
		</div>
		<div class="mt-12 grid gap-6 sm:grid-cols-2 md:mt-20 lg:grid-cols-3">
			<div class="space-y-6">
				<div
					class="dark:to-darker relative overflow-hidden rounded-2xl bg-gradient-to-b from-gray-200 to-white p-px dark:from-gray-700 dark:via-gray-800"
				>
					<div
						class="relative flex h-full flex-col gap-6 rounded-2xl bg-gray-100 p-8 dark:bg-gray-900"
					>
						<div class="flex gap-4">
							<img
								class="h-12 w-12 rounded-full"
								src="/images/avatars/avatar.webp"
								alt="user avatar"
								width="400"
								height="400"
								loading="lazy"
							/>
							<div>
								<h3 class="text-lg font-medium text-gray-700 dark:text-white">Daniella Doe</h3>
								<p class="text-sm text-gray-500 dark:text-gray-300">Mobile dev</p>
							</div>
						</div>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum aliquid quo eum quae
							quos illo earum ipsa doloribus nostrum minus libero aspernatur laborum cum, a
							suscipit, ratione ea totam ullam! Lorem ipsum dolor sit amet consectetur, adipisicing
							elit. Architecto laboriosam deleniti aperiam ab veniam sint non cumque quis tempore
							cupiditate. Sint libero voluptas veniam at reprehenderit, veritatis harum et rerum.
						</p>
					</div>
				</div>

				<div
					class="dark:to-darker relative overflow-hidden rounded-2xl bg-gradient-to-b from-gray-200 to-white p-px dark:from-gray-700 dark:via-gray-800"
				>
					<div
						class="relative flex h-full flex-col gap-6 rounded-2xl bg-gray-100 p-8 dark:bg-gray-900"
					>
						<div class="flex gap-4">
							<img
								class="h-12 w-12 rounded-full"
								src="/images/avatars/avatar-1.webp"
								alt="user avatar"
								width="400"
								height="400"
								loading="lazy"
							/>
							<div>
								<h3 class="text-lg font-medium text-gray-700 dark:text-white">Daniella Doe</h3>
								<p class="text-sm text-gray-500 dark:text-gray-300">@hundler</p>
							</div>
						</div>
						<p>
							Illum aliquid quo eum quae quos illo laboriosam deleniti aperiam ab veniam sint non
							cumque quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit,
							veritatis harum et rerum.
						</p>
					</div>
				</div>
			</div>

			<div class="space-y-6">
				<div
					class="dark:to-darker relative overflow-hidden rounded-2xl bg-gradient-to-b from-gray-200 to-white p-px dark:from-gray-700 dark:via-gray-800"
				>
					<div
						class="relative flex h-full flex-col gap-6 rounded-2xl bg-gray-100 p-8 dark:bg-gray-900"
					>
						<div class="flex gap-4">
							<img
								class="h-12 w-12 rounded-full"
								src="/images/avatars/avatar-1.webp"
								alt="user avatar"
								width="400"
								height="400"
								loading="lazy"
							/>
							<div>
								<h3 class="text-lg font-medium text-gray-700 dark:text-white">Daniella Doe</h3>
								<p class="text-sm text-gray-500 dark:text-gray-300">Mobile dev</p>
							</div>
						</div>
						<p>
							Nostrum minus libero sit amet consectetur, adipisicing elit ab veniam sint non cumque
							quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit, veritatis harum
							et rerum.
						</p>
					</div>
				</div>

				<div
					class="dark:to-darker relative overflow-hidden rounded-2xl bg-gradient-to-b from-gray-200 to-white p-px dark:from-gray-700 dark:via-gray-800"
				>
					<div
						class="relative flex h-full flex-col gap-6 rounded-2xl bg-gray-100 p-8 dark:bg-gray-900"
					>
						<div class="flex gap-4">
							<img
								class="h-12 w-12 rounded-full"
								src="/images/avatars/avatar-3.webp"
								alt="user avatar"
								width="400"
								height="400"
								loading="lazy"
							/>
							<div>
								<h3 class="text-lg font-medium text-gray-700 dark:text-white">Daniella Doe</h3>
								<p class="text-sm text-gray-500 dark:text-gray-300">Mobile dev</p>
							</div>
						</div>
						<p>
							Nostrum minus libero sit amet consectetur, adipisicing elit ab veniam sint non cumque
							quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit, veritatis harum
							et rerum.
						</p>
					</div>
				</div>

				<div
					class="dark:to-darker relative overflow-hidden rounded-2xl bg-gradient-to-b from-gray-200 to-white p-px dark:from-gray-700 dark:via-gray-800"
				>
					<div
						class="relative flex h-full flex-col gap-6 rounded-2xl bg-gray-100 p-8 dark:bg-gray-900"
					>
						<div class="flex gap-4">
							<img
								class="h-12 w-12 rounded-full"
								src="/images/avatars/avatar-2.webp"
								alt="user avatar"
								width="400"
								height="400"
								loading="lazy"
							/>
							<div>
								<h3 class="text-lg font-medium text-gray-700 dark:text-white">Daniella Doe</h3>
								<p class="text-sm text-gray-500 dark:text-gray-300">@hundler</p>
							</div>
						</div>
						<p>
							Illum aliquid quo eum quae quos illo laboriosam deleniti aperiam ab veniam sint non
							cumque quis tempore cupiditate. Sint libero voluptas veniam at reprehenderit,
							veritatis harum et rerum.
						</p>
					</div>
				</div>
			</div>

			<div class="space-y-6 sm:hidden lg:block">
				<div
					class="dark:to-darker relative overflow-hidden rounded-2xl bg-gradient-to-b from-gray-200 to-white p-px dark:from-gray-700 dark:via-gray-800"
				>
					<div
						class="relative flex h-full flex-col gap-6 rounded-2xl bg-gray-100 p-8 dark:bg-gray-900"
					>
						<div class="flex gap-4">
							<img
								class="h-12 w-12 rounded-full"
								src="/images/avatars/avatar.webp"
								alt="user avatar"
								width="400"
								height="400"
								loading="lazy"
							/>
							<div>
								<h3 class="text-lg font-medium text-gray-700 dark:text-white">Daniella Doe</h3>
								<p class="text-sm text-gray-500 dark:text-gray-300">Mobile dev</p>
							</div>
						</div>
						<p>
							Architecto laboriosam. Sint libero voluptas veniam at reprehenderit, veritatis harum
							et rerum.
						</p>
					</div>
				</div>

				<div
					class="dark:to-darker relative overflow-hidden rounded-2xl bg-gradient-to-b from-gray-200 to-white p-px dark:from-gray-700 dark:via-gray-800"
				>
					<div
						class="relative flex h-full flex-col gap-6 rounded-2xl bg-gray-100 p-8 dark:bg-gray-900"
					>
						<div class="flex gap-4">
							<img
								class="h-12 w-12 rounded-full"
								src="/images/avatars/avatar-4.webp"
								alt="user avatar"
								width="400"
								height="400"
								loading="lazy"
							/>
							<div>
								<h3 class="text-lg font-medium text-gray-700 dark:text-white">Daniella Doe</h3>
								<p class="text-sm text-gray-500 dark:text-gray-300">@hundler</p>
							</div>
						</div>
						<p>
							Illum aliquid quo deleniti aperiam ab veniam sint non cumque quis tempore cupiditate.
							Sint libero voluptas veniam at reprehenderit, veritatis harum et rerum.
						</p>
					</div>
				</div>

				<div
					class="dark:to-darker relative overflow-hidden rounded-2xl bg-gradient-to-b from-gray-200 to-white p-px dark:from-gray-700 dark:via-gray-800"
				>
					<div
						class="relative flex h-full flex-col gap-6 rounded-2xl bg-gray-100 p-8 dark:bg-gray-900"
					>
						<div class="flex gap-4">
							<img
								class="h-12 w-12 rounded-full"
								src="/images/avatars/avatar.webp"
								alt="user avatar"
								width="400"
								height="400"
								loading="lazy"
							/>
							<div>
								<h3 class="text-lg font-medium text-gray-700 dark:text-white">Daniella Doe</h3>
								<p class="text-sm text-gray-500 dark:text-gray-300">@hundler</p>
							</div>
						</div>
						<p>
							Illum aliquid quo deleniti aperiam ab veniam Sint libero voluptas veniam at
							reprehenderit, veritatis harum et rerum.
						</p>
					</div>
				</div>
			</div>
		</div>
	</Container>
</div>
