---
import GlobalHead from '../components/GlobalHead.astro'
const { title } = Astro.props
---

<!doctype html>
<html lang="vi" class="dark">
	<GlobalHead {title} />
	<body class="bg-white dark:bg-gray-900">
		<!-- Google Tag Manager (noscript) -->
		<noscript
			><iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-5W9LLMD7"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe></noscript
		>
		<!-- End Google Tag Manager (noscript) -->
		<slot />
		<style>
			html {
				font-family: Urbanist, sans-serif;
				scroll-behavior: smooth;
			}

			body {
				margin: 0;
			}
		</style>
	</body>
</html>
